GearboxCalculatorCore/bin
GearboxCalculatorCore/obj
GearboxCalculatorGraphDesigner/bin
GearboxCalculatorGraphDesigner/obj
GearboxCalculatorUI/bin
GearboxCalculatorUI/obj
GearboxCommons/bin
GearboxCommons/obj
.vs
